name: BuildImage-all
on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    - cron: "0 21 * * *"

jobs:
  build_openclash:
    strategy:
      fail-fast: false
      matrix:
        version: [24.10.5, 25.12.0-rc2]
        arch: [x86-64, rockchip-armv8]
    name: Build OpenClash for OpenWRT-${{ matrix.arch }}-${{ matrix.version }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@v8
      with:
        root-reserve-mb: 1024
        swap-size-mb: 1024
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'
        remove-docker-images: 'true'

    - name: Checkout
      uses: actions/checkout@v4

    - name: modify docker path
      run: |
        sudo systemctl stop docker.socket
        sudo systemctl stop docker
        sudo mkdir -p ${{ github.workspace }}/docker 
        sudo mv /var/lib/docker ${{ github.workspace }}/docker 
        sudo ln -sf ${{ github.workspace }}/docker /var/lib/docker
        sudo systemctl start docker

    - name: Run Make
      run: |
        chmod +x ${{ github.workspace }}/build_clash.sh
        mkdir -p ${{ github.workspace }}/openclash 
        docker run -i --name openwrt-sdk-${{ matrix.arch }}-${{ matrix.version }} --user root -v ${{ github.workspace }}/build_clash.sh:/build_clash.sh -v ${{ github.workspace }}/openclash/:/openclash/ openwrt/sdk:${{ matrix.arch }}-${{ matrix.version }} /build_clash.sh

    - uses: actions/upload-artifact@v4
      with:
        name: openclash-${{ matrix.arch }}-${{ matrix.version }}
        path: openclash
        retention-days: 7

  build_passwall:
    strategy:
      fail-fast: false
      matrix:
        version: [24.10.5, 25.12.0-rc2]
        arch: [x86-64, rockchip-armv8]
    name: Build Passwall for OpenWRT-${{ matrix.arch }}-${{ matrix.version }}
    runs-on: ubuntu-latest
    container: 
      image: openwrt/sdk:${{ matrix.arch }}-${{ matrix.version }}
      options: --user root
    defaults:
      run:
        shell: bash
    steps:

    - name: Install golang
      run: |
        VERSION=$(curl -sL https://go.dev/VERSION?m=text | head -1)
        echo "Installing Go version: $VERSION"
        wget -q https://go.dev/dl/$VERSION.linux-amd64.tar.gz
        rm -rf /usr/local/go
        tar -C /usr/local -xzf $VERSION.linux-amd64.tar.gz
        rm -f $VERSION.linux-amd64.tar.gz
        export GOROOT=/usr/local/go
        export PATH=$PATH:/usr/local/go/bin
        go version

    - name: Run Make
      run: |
        export VOLUME_HOME=$(pwd)
        export BUILD_DIR="/builder"
        export BUILDER="buildbot"
        export GOROOT=/usr/local/go
        export PATH=$PATH:/usr/local/go/bin
        cd $BUILD_DIR
        apt-get update
        apt install sudo tree -y
        sudo -u $BUILDER echo "src-git passwall https://github.com/xiaorouji/openwrt-passwall.git;main" >> "feeds.conf.default"
        sudo -u $BUILDER echo "src-git passwall_packages https://github.com/xiaorouji/openwrt-passwall-packages.git;main" >> "feeds.conf.default"
        chown -R $BUILDER:$BUILDER $BUILD_DIR
        while ! sudo -u $BUILDER ./scripts/feeds update -a; do echo "Try again"; done
        sudo -u $BUILDER ./scripts/feeds install luci-app-passwall
        sudo -u $BUILDER make defconfig
        ### enable SingBox
        sudo -u $BUILDER sed -i 's/# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox is not set/CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=y/' .config
        ### enable all passwall packages
        # sudo -u $BUILDER sed -i "s/# \(CONFIG_PACKAGE_luci-app-passwall_.*\) is not set/\1=y/g" .config
        ### disable singbox
        # sudo -u $BUILDER sed -i '/CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=y/ s/=y/=n/' .config
        ### disable v2ray-plugin
        # sudo -u $BUILDER sed -i '/CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=y/ s/=y/=n/' .config
        ### set golang external bootstrap root
        # sed -i 's|CONFIG_GOLANG_EXTERNAL_BOOTSTRAP_ROOT=""|CONFIG_GOLANG_EXTERNAL_BOOTSTRAP_ROOT="/usr/local/go"|' .config
        sudo -u $BUILDER make package/luci-app-passwall/compile V=99 -j1 || cat logs/feeds/passwall/luci-app-passwall/dump.txt
        mkdir -p $VOLUME_HOME/passwall
        cp -r bin/packages/*/passwall/* $VOLUME_HOME/passwall
        cp -r bin/packages/*/passwall_packages/* $VOLUME_HOME/passwall
        ### do not copy all packages, just copy passwall and passwall_packages
        # cp -r bin/packages/*/packages/* $VOLUME_HOME/passwall
        # cp -r bin/packages $VOLUME_HOME/passwall
        tree bin/packages

    - uses: actions/upload-artifact@v4
      with:
        name: passwall-${{ matrix.arch }}-${{ matrix.version }}
        path: passwall
        retention-days: 7

  build_theme_argon:
    strategy:
      fail-fast: false
      matrix:
        version: [24.10.5, 25.12.0-rc2]
        arch: [x86-64, rockchip-armv8]
    name: Build Argon for OpenWRT-${{ matrix.arch }}-${{ matrix.version }}
    runs-on: ubuntu-latest
    container:
      image: openwrt/sdk:${{ matrix.arch }}-${{ matrix.version }}
      options: --user root
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v4
    - name: Set package extension
      run: |
        if [[ "${{ matrix.version }}" == 24.* ]]; then
          echo "PKG_EXT=ipk" >> $GITHUB_ENV
        else
          echo "PKG_EXT=apk" >> $GITHUB_ENV
        fi
    - name: Run Make
      run: |
        export VOLUME_HOME=$(pwd)
        export BUILD_DIR="/builder"
        export BUILDER="buildbot"
        cd $BUILD_DIR
        apt-get update
        apt install sudo -y
        sudo -u $BUILDER git clone https://github.com/jerrykuku/luci-theme-argon.git package/luci-theme-argon
        while ! sudo -u $BUILDER ./scripts/feeds update -a; do echo "Try again"; done
        sudo -u $BUILDER make defconfig
        sudo -u $BUILDER make package/luci-theme-argon/compile V=s -j1
        mkdir -p $VOLUME_HOME/luci-theme-argon
        cp bin/packages/*/base/luci-theme-argon*.${{ env.PKG_EXT }} $VOLUME_HOME/luci-theme-argon/ 
    - uses: actions/upload-artifact@v4
      with:
        name: luci-theme-argon-${{ matrix.arch }}-${{ matrix.version }}
        path: luci-theme-argon
        retention-days: 7
  
  # luci app netdata has some bugs, so just not use it for now!
  build_luci_app_netdata:
    if: false  # Disabled due to bugs
    strategy:
      fail-fast: false
      matrix:
        version: [24.10.5, 25.12.0-rc2]
        arch: [x86-64, rockchip-armv8]
    name: Build Luci App Netdata for OpenWRT-${{ matrix.arch }}-${{ matrix.version }}
    runs-on: ubuntu-latest
    container:
      image: openwrt/sdk:${{ matrix.arch }}-${{ matrix.version }}
      options: --user root
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v4
    - name: Set package extension
      run: |
        if [[ "${{ matrix.version }}" == 24.* ]]; then
          echo "PKG_EXT=ipk" >> $GITHUB_ENV
        else
          echo "PKG_EXT=apk" >> $GITHUB_ENV
        fi
    - name: Run Make
      run: |
        export VOLUME_HOME=$(pwd)
        export BUILD_DIR="/builder"
        export BUILDER="buildbot"
        cd $BUILD_DIR
        apt-get update
        apt install sudo -y
        sudo -u $BUILDER git clone https://github.com/sirpdboy/luci-app-netdata package/luci-app-netdata
        while ! sudo -u $BUILDER ./scripts/feeds update -a; do echo "Try again"; done
        sudo -u $BUILDER ./scripts/feeds install -a
        sudo -u $BUILDER make defconfig
        sudo -u $BUILDER make package/luci-app-netdata/compile V=s -j1
        mkdir -p $VOLUME_HOME/luci-app-netdata
        cp bin/packages/*/base/luci-app-netdata*.${{ env.PKG_EXT }} $VOLUME_HOME/luci-app-netdata/
    - uses: actions/upload-artifact@v4
      with:
        name: luci-app-netdata-${{ matrix.arch }}-${{ matrix.version }}
        path: luci-app-netdata
        retention-days: 7

  build_image:
    strategy:
      fail-fast: false
      matrix:
        version: [24.10.5, 25.12.0-rc2]
        arch: [x86-64, rockchip-armv8]
    if: ${{ always() }}
    needs: [build_passwall, build_theme_argon, build_openclash]
    name: Build Image for OpenWRT-${{ matrix.arch }}-${{ matrix.version }}
    runs-on: ubuntu-latest
    # container: 
    #   image: openwrt/imagebuilder:${{ matrix.arch }}-${{ matrix.version }}
    #   options: --user root
    defaults:
      run:
        shell: bash
    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@v8
      with:
        root-reserve-mb: 1024
        swap-size-mb: 1024
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'
        remove-docker-images: 'true'

    - name: Checkout
      uses: actions/checkout@v4

    - uses: actions/download-artifact@v4
      with:
        name: passwall-${{ matrix.arch }}-${{ matrix.version }}
    - uses: actions/download-artifact@v4
      with:
        name: luci-theme-argon-${{ matrix.arch }}-${{ matrix.version }}
    - uses: actions/download-artifact@v4
      with:
        name: openclash-${{ matrix.arch }}-${{ matrix.version }}
    # - uses: actions/download-artifact@v4
    #   with:
    #     name: luci-app-netdata-${{ matrix.arch }}-${{ matrix.version }}

    - name: modify docker path
      run: |
        sudo systemctl stop docker.socket
        sudo systemctl stop docker
        sudo mkdir -p ${{ github.workspace }}/docker 
        sudo mv /var/lib/docker ${{ github.workspace }}/docker 
        sudo ln -sf ${{ github.workspace }}/docker /var/lib/docker
        sudo systemctl start docker


    - name: Prepare Packages
      run: |
        export VOLUME_HOME=${{ github.workspace }}
        mkdir -p $VOLUME_HOME/mypackages
        # Support both .ipk (24.x) and .apk (25.x) package formats
        find $VOLUME_HOME -maxdepth 1 -type f \( -name "*.ipk" -o -name "*.apk" \) -exec mv {} $VOLUME_HOME/mypackages/ \;

    - name: Set profile
      run: |
        if [[ "${{ matrix.arch }}" == "x86-64" ]]; then
          echo "profile=generic" >> $GITHUB_ENV
        elif [[ "${{ matrix.arch }}" == "rockchip-armv8" ]]; then
          echo "profile=friendlyarm_nanopi-r2s" >> $GITHUB_ENV
        fi
    - name: Make Image
      run: |
        export VOLUME_HOME=${{ github.workspace }}
        export BUILD_DIR="/builder"
        export BUILDER="buildbot"
        chmod +x $VOLUME_HOME/build_image.sh
        docker run -i --name openwrt-imagebuilder-${{ matrix.arch }}-${{ matrix.version }} \
         --user root \
         -v $VOLUME_HOME/mypackages/:$BUILD_DIR/packages/mypackages/ \
         -v $VOLUME_HOME/openwrt_output/:/openwrt_output/ \
         -v $VOLUME_HOME/build_image.sh:/build_image.sh \
         -e PROFILE=${{ env.profile }} \
         -e PACKAGES="${{ env.packages }}" \
         -e ROOTFS_SIZE=${{ env.rootfs_size }} \
         -e KERNEL_SIZE=${{ env.kernel_size }} \
         -e ARCH=${{ matrix.arch }} \
         -e VERSION=${{ matrix.version }} \
         openwrt/imagebuilder:${{ matrix.arch }}-${{ matrix.version }} /build_image.sh 

      env:
        rootfs_size: 4096
        kernel_size: 256
        packages: >-
          luci luci-app-qos luci-app-upnp luci-proto-ipv6 kmod-igc kmod-mt7921e
          luci-i18n-base-zh-cn netdata luci-app-ttyd pciutils
          coreutils-timeout lm-sensors lm-sensors-detect fdisk shadow-useradd -dnsmasq
          vim python3 sudo ipset samba4-server
          openvpn-openssl luci-app-openvpn lsof kmod-usb-storage block-mount lsblk luci-app-samba4
          tcpdump zstd tmux bash netcat ip6tables-mod-nat iptables-mod-tproxy dnsmasq-full hostapd
          wpa-supplicant xl2tpd kmod-loop nfs-kernel-server iptables-mod-socket
          iptables-mod-iprange kmod-nft-socket kmod-nft-tproxy kmod-nft-nat
          wireguard-tools kmod-wireguard luci-proto-wireguard wakeonlan luci-app-wol
    - uses: actions/upload-artifact@v4
      with:
        name: openwrt-${{ matrix.arch }}-${{ matrix.version }}
        path: openwrt_output
        retention-days: 30
